.topnav {
  background-color: #333;
  overflow: hidden;
}



.topnav {
  background-color: #21201F;
  color: white;
}

.topnav h3{
    text-align: center;
}

.logo{
      width: 100px;
      height: 100px;
}